.dashboard {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.flight-table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  display: flex;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}
.table-row {
  display: flex;
}

.header-item,
.table-item {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.header-item {
  font-weight: bold;
}

.table-row:nth-child(even) {
  background-color: #f9f9f9;
}
